<!DOCTYPE html>
<html ng-app='aprsc'>
<head>
<title>aprsc status</title>
<meta name="lang" content="en" />
<meta http-equiv="Content-Type" content="application/xhtml+xml;charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/aprsc.css" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="shortcut" href="/favicon.ico" type="image/x-icon" />
<script src="angular.min.js"></script>
</head>

<body ng-controller="aprscc" onclick='ttip_hide();'>

<div class='container'>

 <div class="row">
   <div class="col-md-3 col-sm-3">
     <div class="text-primary text-right" ng-cloak><h3>{{ status.server.server_id }} aprsc status <span ng-show="status">at {{ status.server.time_now | datetime }}</span></h3></div>
     </div>
 </div>

<div class='row' ng-cloak>
<h3>Server</h3>
<div class='table-responsive'>
<table class='table table-hover table-condensed'>
  <tr><td>Server ID</td> <td class="ar">{{ status.server.server_id }}</td></tr>
  <tr><td>Server admin</td> <td class="ar">{{ status.server.admin }}</td></tr>
  <tr><td>Software</td> <td class="ar">{{ status.server.software }} {{ status.server.software_version }}</td></tr>
  <tr><td>Software features</td> <td class="ar">{{ status.server.software_build_features }}</td></tr>
  <tr><td>Uptime</td> <td class="ar">{{ status.server.uptime | duration }}</td></tr>
  <tr><td>Started</td> <td class="ar">{{ status.server.time_started | datetime }}</td></tr>
  <tr><td>OS</td> <td class="ar">{{ status.server.os }}</td></tr>
</table>
</div>
</div>

<div class='row' ng-cloak>
<h3>Totals</h3>
<div class='table-responsive'>
<table class='table table-hover table-condensed'>
<tr ng-repeat="k in setup.keys_totals">
  <td>{{ setup.key_translate[k] }}</td>
  <td>{{ status.totals[k] }}</td>
  <td ng-show="status_prev">{{ (status.totals[k] - status_prev.totals[k]) / status.tick_dif | ratestr}}/s</td>
  </tr>
</table>
</div>
</div>

<div class='row' ng-cloak>
<h3>Duplicate filter
<span class='link' id='dupecheck_more_show' ng-click='dupe_vars_visible = !(dupe_vars_visible)' ng-show='!(dupe_vars_visible)'>
	<img alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAIAAADkharWAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wKHQcqC7wd4jIAAABtSURBVCjPY/z//z8DKYAJU+jFA4YbNxh+4NLxHxV8//7fX/4/O/v//e//YwVMDCQCkjUgnLS//7+4+H9+/v/8/P8ZGP4zMPxn54dyzeMRTmKB6/zwgOHlSxSzfn5k+AkJhheD2tMka2AkNWkAAOhriTYQTgMEAAAAAElFTkSuQmCC" />
	</span>
<span class='link' id='dupecheck_more_hide' ng-click='dupe_vars_visible = !(dupe_vars_visible)' ng-show='dupe_vars_visible'>
	<img alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAIAAADkharWAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wKHQcqE69xemQAAABMSURBVCjPY/z//z8DKYCJgUQwqDUcmMAgIcEgIMAgIMDAyMjAyMjAIQDlWiQgNLDAWR8eMLx8iWLYz48MPxkYGBgYXrxACDKOxGAFAAP1ERwzsIoPAAAAAElFTkSuQmCC" />
	</span></h3>
<div class='table-responsive'>
<table class='table table-hover table-condensed'>
<tr ng-repeat="k in setup.keys_dupecheck">
  <td>{{ setup.key_translate[k] }}</td>
  <td>{{ status.dupecheck[k] }}</td>
  <td ng-show="status_prev">{{ (status.dupecheck[k] - status_prev.dupecheck[k]) / status.tick_dif | ratestr}}/s</td>
  </tr>
</table>
</div>

<div class='table-responsive' ng-show='dupe_vars_visible'>
<table class='table table-hover table-condensed'>
<tr ng-repeat="k in setup.keys_dupecheck_variations">
  <td>{{ setup.key_translate[k] }}</td>
  <td>{{ status.dupecheck.variations[k] }}</td>
  <td ng-show="status_prev">{{ (status.dupecheck.variations[k] - status_prev.dupecheck.variations[k]) / status.tick_dif | ratestr}}/s</td>
  </tr>
</table>
</div>
</div>

<div class='row' ng-cloak>
<h3>Port listeners</h3>
<div class='table-responsive' ng-show='status'>
<table class='table table-hover table-condensed'>
<tr><th ng-repeat="title in setup.cols_listener">{{ title }}</th></tr>
<tr ng-repeat="l in status.listeners">
  <td ng-repeat="(k, title) in setup.cols_listener">{{ l[k] }} {{ status_prev.listeners[$parent.$index][k] }}</td>
  </tr>
</table>
</div>
</div>

<div class='row' ng-cloak>
<h3>Peers</h3>
<div class='table-responsive' ng-show='status.peers'>
<table class='table table-hover table-condensed'>
<tr><th ng-repeat="title in setup.cols_peers">{{ title }}</th></tr>
<tr ng-repeat="p in status.peers">
  <td ng-repeat="(k, title) in setup.cols_peers">{{ p[k] }}</td>
  </tr>
</table>
</div>
</div>

<div class='row' ng-cloak>
<h3>Clients</h3>
<div class='table-responsive' ng-show='status'>
<table class='table table-hover table-condensed'>
<tr>
  <th>Port</th>
  <th>Callsign</th>
  <th>Address</th>
  <th>Verified</th>
  <th>Up</th>
  <th>Last in</th>
  <th>Software</th>
  <th>Packets Tx</th>
  <th>Packets Rx</th>
  <th>Bytes Tx</th>
  <th>Bytes Rx</th>
  <th>Tx/Rx bytes/s</th>
  <th>OutQ</th>
  <th>MsgRcpts</th>
  <th>Filter</th>
  </tr>
<tr ng-repeat="c in status.clients">
  <td>{{ c.addr_loc }}</td>
  <td><a href="http://aprs.fi/?call={{ c.username }}" target="_blank">{{ c.username }}</a></td>
  <td>{{ c.addr_rem }}</td>
  <td>{{ c.verified }}</td>
  <td>{{ c.since_connect | duration }}</td>
  <td>{{ c.since_last_read | duration }}</td>
  <td>{{ c.app_name }} {{ c.app_version }}</td>
  <td>{{ c.pkts_tx }}</td>
  <td>{{ c.pkts_rx }}</td>
  <td>{{ c.bytes_tx }}</td>
  <td>{{ c.bytes_rx }}</td>
  <td><span ng-show='status.tick_dif'>{{ (c.bytes_tx - status_prev.clients_id[c.id].bytes_tx) / status.tick_dif | ratestr }}
       / {{ (c.bytes_rx - status_prev.clients_id[c.id].bytes_rx) / status.tick_dif | ratestr }}</span></td>
  <td>{{ c.obuf_q }}</td>
  <td>{{ c.heard_count }}</td>
  <td>{{ c.filter }}</td>
  </tr>
</table>
</div>
</div>

</div><!-- container -->

<script type='text/JavaScript' src='jquery.min.js'></script>
<script type='text/JavaScript' src='jquery.flot.min.js'></script>
<script type='text/JavaScript' src='jquery.flot.selection.min.js'></script>
<script type='text/JavaScript' src='aprsc.js'></script>

</body>
</html>
