# Build products
aprsc
aprsc.exe
aprsc.8
version_data.h

# configure products
Makefile
ac-hdrs.h
config.log
config.status
SVNVERSION
GITVERSION
autom4te.cache

# build temp files
build-stamp
configure-stamp

