name: Build Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: install deps
      run: |
        sudo apt-get install -y libevent-dev perl-modules libio-socket-inet6-perl libjson-xs-perl libwww-perl libsctp-dev openssl

    - name: configure
      run: |
        cd src
        ./configure

    - name: make
      run: |
        cd src
        make -j4

    - name: make testinstall
      run: |
        cd src
        make testinstall

    - name: Run tests
      run: |
        cd tests
        make test aggrtest

  
